# Test files
test_*.sh

# SSH keys
patrol/.ssh/

# Log files
logs/

# Output reports
output/

# data reports
web/data


# conf
conf/servers_local.conf
conf/servers_passwd.conf
conf/servers_proxy.conf
conf/checks_solo.conf
conf/check_groups_solo.conf
