# 检查项分组配置文件
# 格式：分组名:检查项1,检查项2,...

# 192.168.0.1 host1
group_host1:system,kernel,uptime,nginx,mysql,redis

# 192.168.0.2 host2
group_host2:system,kernel,uptime,kernel,appname1,appnam2

group_system:system,kernel,architecture,uptime
group_resource:cpu,mem,disk,disk_root,disk_home
group_apps:nginx,mysql,redis,memcached
group_docker:oracle_19c,opengauss,cordys-crm
group_all:system,kernel,architecture,uptime,cpu,mem,disk_boot,disk_root,disk_home,nginx,mysql,redis,kafka,logstash,zookeeper
